*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

header{ 
    background-color: #fff;
    position: sticky;
    top: 0;
}

.content-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    
    padding: 1rem;
    position: relative;
}

.back-menu-icon{
    display: none;
}

header h1 a{
    color: #000;
    font-size: 1.5rem;
}

.menu{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.menu li{
    padding: 1rem;
    
    position: relative;

    font-size: 1rem;
}

.menu li a{
    color: transparent;
}

.menu li::before{
    content: attr(data-text) / "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: font-weight .3s;
    color: #000;
}

.menu li:hover::before{
    font-weight: 900;
    font-size: 1.2rem;
}

@media (max-width: 768px){
    .content-header{
        padding: 0;
        justify-content: space-between;
    }
    .back-menu-icon{
        position: relative;
        left: 0;

        display: flex;
        justify-content: center;
        
        background-color: #000;
        height: 100%;
        width: 30%;
        padding: .5rem;
    }
    .menu-icon{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 30px;
        cursor: pointer;
    }
    .menu-icon::before, .menu-icon div, .menu-icon::after{
        content: '';
        background-color: #fff;
        border-radius: 3px;
        display: block;
        height: 5px;
        margin: 3px;
        width: 100%;
        transition: transform .3s;
    }
    #check:checked ~ .back-menu-icon .menu-icon::before{
        transform: translateY(11px) rotate(45deg);
    }
    #check:checked ~ .back-menu-icon .menu-icon div{
        transform: scaleX(0);
    }
    #check:checked ~ .back-menu-icon .menu-icon::after{
        transform: translateY(-11px) rotate(-45deg);
    }
    .menu{
        flex-direction: column;

        position: absolute;
        z-index: -1;
        left: 0;
        bottom: 0;
        width: 30%;

        background-color: #000;
        border-radius: 0 0 15px 0px;
        transition: .3s;
    }
    #check:checked ~ nav .menu{
        transform: translateY(100%);
    }
    .menu li{
        padding: .5rem;
        color: #fff;
    }
    .menu li::before{
        color: #fff;
    }
    .menu li:hover::before{
        font-weight: 800;
        font-size: 1.1rem;
    }
    header h2{
        text-align: center;
    }
}
@media (max-width: 320px){
    .menu li{
        padding: .1rem;
    }
    .menu li::before{
        font-size: .8rem;
    }
    .menu li:hover::before{
        font-weight: 700;
        font-size: .9rem;
    }
}

.principal{
    background-image: url("imgs/laranja azul recorte.png");
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;

    min-height: 720px;
    color: #fff;
    padding-left: 4rem;
}

.principal h2{
    font-weight: 800;
    font-size: 3.5rem;
    padding-bottom: 1rem;
}

.principal h3{
    font-weight: 300;
    font-size: 1.5rem;
}

@media (max-width: 380px){
    .principal{
        padding-left: 5%;
        min-height: 500px;
        background-position: right;
    }
    .principal h2{
        font-size: 3rem;
    }
}
@media (max-width: 300px){
    .principal h2{
        font-size: 2rem;
    }
    .principal h3{
        font-size: 1rem;
    }
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    padding: 4rem 0;
}

.gallery img{
    padding: .4rem;
    width: 300px;
    max-width: 100%;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem;
    font-size: 1rem;
}

.socialicons{
    display: flex;
    align-items: center;
    /* padding: 0rem 5rem; */
}

.socialicons li img{
    width: 90%;
    padding: 0rem 1rem;
}

footer p{
    font-size: .7rem;
    text-align: left;
}