*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

body{
    max-width: 1920px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;

    background-color: #fff;
    position: sticky;
    top: 0%;
}

.menu{
    display: flex;
}

.menu li{
    margin:  0 2em;
    width: 7rem;
    text-align: center;
    transition: .3s;
}

.menu li:hover{
    font-weight: 900;
    /* font-size: larger; */
}

.principal{
    background-image: url("imgs/laranja azul recorte.png");
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 720px;
    color: #fff;
    padding-left: 4rem;
}

h1{
    font-weight: 800;
    font-size: 3.5rem;
    padding-bottom: 1rem;
}

.principal h3{
    font-weight: 300;
    font-size: 1.5rem;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    padding: 4rem 0;
}

.gallery img{
    padding: .4rem;
    width: 25%;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem;
    font-size: 1rem;
}

.socialicons{
    display: flex;
    align-items: center;
    /* padding: 0rem 5rem; */
}

.socialicons li img{
    height: 30px;
    padding: 0rem 1rem;
}

footer p{
    font-size: .7rem;
    text-align: left;
}